body {
    margin: 0;
    background-color: #2b2b2b;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-weight: 400;
    font-size: 24px;
    margin: 0.1em;
    user-select: none;
}

h3 {
    font-weight: 400;
    font-size: 16px;
    margin: 0.1em;
    user-select: none;
    color: #8a8a8a;
}

#message {
    min-height: 29px;
}

#hint {
    min-height: 19px;
}

input {
    outline: none;
    display: inline-block;
    background-color: transparent;
    color: #d1d1d1;
    font-size: 24px;
    text-align: center;
    border: dotted #4d4d4d 1px;
    width: calc(100vw - 6px);
    max-width: 530px;
}